@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../_vendor-sources.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.filament-google-maps-widget-table .fi-section-content{
    padding: 0px!important;
}

.map-picker-location-widget .fi-fo-field-label{
    display: none!important;
}

.fi-main.fi-width-full{
    min-height:555vh!important;
}
